.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
