.about-info-box{
    margin-top: 72px;
    padding: 0px 49px;
}
.about-info-left .desc{
    font-size: 45px;
    margin-top: 0px;
}
.about-info-left{
    max-width: 77.5%;
    margin-right: 55px;
}
.about-info-right{
    /* margin-left: 25px; */
}
.heading-left{
max-width: 65%;
}
.heading-text-2{
    font-size: 80px;   
    margin: 0px;
    margin: auto;
}
@media (max-width:550px) {
    .about-info-left .desc{
font-size: 25px;
    }
    .about-info-left{
        max-width: 100%;
    }
    .about-info-box{
        margin-top: 72px;
        padding: 0px 10px;
    }
    .heading-text-2{
        font-size: 20px;   
        margin: 0px;
        margin: auto;
    }
}