/* * {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal; */
    /* font-variation-settings: "wdth" 100; */
  /* } */ 
  *{
    font-family: "Sharp Grotesk Light 15",sans-serif;
    /* font-family:"Cy Grotesk Grand Dark"; */
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
 .logo h1{
    font-family:"Cy Grotesk Grand Dark";
    /* font-family: "Cy Grotesk Grand Dark",sans-serif; */
  }
  .about-font-header {
    font-size: 65px;
    margin-top: 0px;
    margin-bottom: 5px;
    /* font-size: 50px; */
}

.navBar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 6px;
    height: 71px;
    
}
.navBar .logo {
    padding: 0px;
    margin: auto;
    margin-left: 0px;
}

.navBar h1 {
    color: white;
    font-weight: 900;
    margin: 0px;
}

.stripes {
    width: 24px;
    height: 1px;
    background-color: white;
    margin: auto;
    margin: 3px 0px;
}

.dropdown {
    display: flex;
}
.dropdown .link{
    color: white;
    margin: auto;
    margin-right: 32px;
    text-decoration: none;
    /* font-size: 11.2px; */
    font-size: 11.5px;
}
.dropDownButton {
    margin: auto;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 6px;
    border-radius: 3px;
}
.dropDownButton:hover {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 6px;
    border-radius: 3px;
    transition: .5s;

}

.dropdown-list {
    /* padding-top: 25px; */
    /* padding-bottom: 20px; */
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border-radius: 20px; */
    border-radius: 10px;
    position: relative;
    bottom: 25px;
    z-index: 50;
    box-shadow: 20px black;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transform-origin: top right;
    top: 0px;
    animation-name: open;
    /* animation-duration: 1s; */
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.dropdown-list-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
    animation-name: open;
    /* animation-duration: 1s;
    animation-delay: .5s; */
    animation-duration: .5s;
    animation-delay: .25s;
    animation-fill-mode: both;
}
.dropdown-link,.dropdown-list-items h2{
    /* color: aqua; */
    transition: .25s;
    }
.dropdown-link:hover,.dropdown-list-items h2:hover{
/* color: aqua; */
transform: translateX(25px);
transition: .5s;
}
.dropdown-dynamic-left{
    width: 75%;
}
@media (max-width:550px) {
    .dropdown-dynamic-left{
        width: 100%;
    }
}
@keyframes open {
    0%{
        scale: 0%;
        margin-right: 0px;       
    }
    100%{
        position: relative;
        /* scale: 100%; */
        margin-right: 0px;
        scale: 100%;     
    }
    
}
.dropdown-link,.dropdown-list-items h2 {
    margin: auto;
    margin: 9px 0px;
    font-weight: 400;
    color: black;
    font-size: 25px;
    font-style: normal;
    text-decoration: none;
    margin-left: 0px;
}
.header{
    /* height: 250px; */
    padding-bottom: 25px;
    width: 100%;
    background-color: black;
    max-height: fit-content;
    z-index: -50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header h1{
    margin: 0px;
    color: white;
    font-size: 180px;
    font-weight: 1000;
    margin: auto;
    
}
.header p{
    color: white;
}
.heading-text{
    font-size: 40px;   
    margin: 0px;
    margin: auto;
}
.header .mid{
    display: flex;
    justify-content: flex-start;
    /* padding-left: 45px; */
    margin: 10px;
}
.header .bottom{
    display: flex;
    justify-content: flex-start;
    /* padding-left: 45px; */
    padding: 10px;
    margin: 15px;
}
.header button,.btn-white-big{
    height: fit-content;
    margin: auto;
    border: 0px;
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
    transition: .15s;
}
.header button:hover{
    border: 0px;
    padding: 18px;
    font-size: 22px;
    background-color: white;
    border-radius: 8px;
    transition: .15s;
    width: fit-content;
    height: fit-content;
}
.gradient{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 52%, rgba(0, 0, 0, 1) 100%);
}
.images-container{
    display: flex;
 flex-direction: row;
 /* overflow: hidden; */
    /* justify-content: space-evenly; */
    
}
.images-container img{
    margin: auto;
    margin: 0px 50px;
}
.slider{
    position: relative;
    padding: 5px;
    animation-name: sliding;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    white-space: nowrap;
}
.responsive-h2{
    font-size: 39px;
}
@keyframes sliding {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}
.button-box{
    display: flex;
    max-width: 100%;
    width: auto;
}
.button-box button{
    width: fit-content;
    height: fit-content;
    border: 0px;
    border: 1px solid gray;
    background-color: rgb(0,0,0,0);
    margin: 5px;
    /* width: 85px; */
    font-size: 10px;
    max-width: 120px;
    width: 120px;
    padding: 10px;
    color: gray;
    margin-bottom: 25px;
    border-radius: 15px;
}
.heading-text h1{
    font-size: 80px;
    
}
.product-info-box{
    margin-top: 0px;
    margin-bottom: 0px;
}
.info-section h2,p,Link{
    color: white;
    text-align: left;
    margin-left: 20px;
    /* font-size: 12px; */
}
.footer{
    display: flex;
    /* flex-direction: column; */
    padding-left: 20px;
}
.footer button{
    border: 0px;
    padding: 11px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 8px;
    transition: .15s;
    
}
.footer-list h3{
    display: flex;
    font-size: 12px;
    color: gray;
}
.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
}

.footer-list p{
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin: 3px 0px;
    text-decoration: underline;
}
.gray-outline-button{
    border: 1px solid gray;
    background-color: white;
    padding: 8px;
    border-radius: 06px;
    color: gray;
    width: fit-content;
}
.gray-outline-button-transparent{
    border: 1px solid gray;
    background-color: rgb(0,0,0,0);
    padding: 5px;
    border-radius: 06px;
    color: gray;
    width: fit-content;
}
.form .element{
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    padding-right: 54px;
}
.form .form-input{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: flex-end;
    padding: 11px 0px;
    margin-top: 8;
    /* background-color: antiquewhite; */
}
.form .element input,.form .element textarea{
    background-color: rgb(0,0,0,0);
    /* background-color: aqua; */
    margin: auto;
    border: 0px;
    outline: 0px;
    color: white;
    padding: 2px;
    width: 65%;
    margin-left: 0px;
}
.form .element label{
    color: gray;
    font-size: 10px;
    text-align: right;
    transition: .2s;
}
.form .element .divide-bar{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin: auto;
    transition: .2s;
    /* padding: 20px; */
}
.form .element-selected{
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    padding-right: 54px;
}
.form .element-selected label{
    color: white;
    font-size: 10px;
    text-align: right;
    transition: .5s;
}
.form .element-selected input,.form .element-selected textarea{
    background-color: rgb(0,0,0,0);
    /* background-color: aqua; */
    border: 0px;
    outline: 0px;
    color: white;
    padding: 2px;
    margin: auto;
    width: 65%;
    margin-left: 0px;
    transition: .5s;
    
}
.form .element-selected .divide-bar{
    width: 100%;
    height: 1px;
    background-color: white;
    margin: auto;
    transition: .5s;
    /* padding: 20px; */
}
.contact-us{
    /* height: 250px; */
    padding-bottom: 29px;
    width: 100%;
    background-color: black;
    max-height: fit-content;
    z-index: -50;
}
.contact-us h1{
    margin: 0px;
    color: white;
    font-size: 80px;
    font-weight: 1000;
    margin: auto;
    
}
.contact-us button,.btn-white-big{
    border: 0px;
    padding: 10px;
    /* font-size: 15px; */
    background-color: white;
    border-radius: 8px;
    transition: .15s;
}
.contact-box{
    display: flex;
}
.contact-box .contact-btn{
    width: fit-content;
    height: fit-content;
    border: 0px;
    border: 1px solid gray;
    background-color: rgb(0,0,0,0);
    margin: 5px;
    width: 150px;
    font-size: 14px;
    color: gray;
    margin-bottom: 25px;
    border-radius: 9px 15px;
    max-width: 100%;
    width: auto;
}
.contact-box .contact-btn-selected{
    width: fit-content;
    height: fit-content;
    border: 0px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    width: 150px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    border-radius: 9px 15px;
    max-width: 100%;
    width: auto;
}
.contact-box-outline{
    border-left: 1px solid white;
}
.contact-us-2{
    max-width: 50%;
    padding-top: 58px;
    width: 50%;
}
.contact-us-2-r{
    padding-right: 10px;
    padding-left: 58px;
}
@media (max-width:550px) {
    .about-font-header {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 5px;
        /* font-size: 50px; */
    }
    .contact-us{
        /* height: 250px; */
        padding-bottom: 0px;
        width: 100%;
        background-color: black;
        max-height: fit-content;
        z-index: -50;
    }
    .contact-us-2{
        max-width: 100%;
        padding-top: 0px;
        width: 100%;
    }
    .contact-us-2-r{
        padding-right: 0px;
        padding-left: 10px;
    }
    .responsive-h2{
        font-size: 24px;
    }
    .header button,.btn-white-big{
        height: fit-content;
        margin: auto;
        border: 0px;
        padding: 10px;
        font-size: 15px;
        background-color: white;
        border-radius: 8px;
        transition: .15s;
    }
    .form{
        margin-top: 27px;
    }
    .form .element{
        display: flex;
        flex-direction: column;
        padding: 16px 15px;
        /* padding-right: 54px; */
    }
    .form .element-selected{
        /* padding-right: 54px; */
    }
    .header .mid{
        display: flex;
        justify-content: flex-start;
        /* padding-left: 45px; */
        margin: 0px;
    }
    .mid p{
        margin: 0px;
    }
    .header .bottom{
        display: flex;
        justify-content: flex-start;
        /* padding-left: 45px; */
        padding: 10px;
        margin: 0px;
    }
    .contact-box .contact-btn{
        width: fit-content;
        height: fit-content;
        border: 0px;
        border: 1px solid gray;
        background-color: rgb(0,0,0,0);
        margin: 5px;
        width: 100px;
        font-size: 10px;
        color: gray;
        margin-bottom: 25px;
        border-radius: 15px;
    }
    .contact-box .contact-btn-selected{
        width: fit-content;
        height: fit-content;
        border: 0px;
        border: 1px solid gray;
        background-color: rgb(255, 255, 255);
        margin: 5px;
        width: 100px;
        font-size: 10px;
        color: rgb(0, 0, 0);
        margin-bottom: 25px;
        border-radius: 15px;
    }
    .contact-box-outline{
        border-left: 0px;
    }
}
.hidden-text{
    display: flex;
}
.nav-r{
    border-right: 1px solid gray;
    display: flex;
}
.hidden-text-visible-stuff{
    width: 50%;
}
.header-responsive{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.responsive-h1{
    font-size: 50px;
}
.text-responsive-visibility{
    display: block;
        margin: auto;
        text-align: center;
        margin: 0px 25px;
    
}
.product-image{
    margin-top: 25px;
}
.responsive-image{
    width: 50%;
}
.main-page-text{
    display: flex;
    max-width: 100%;
    flex-direction: 'column';
    margin: auto;
}
.res-text-2{
    max-width: 48%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.res-width{
max-width: 48%;
}
.row-col-res{
    display: flex;
    flex-direction: row;
}
.res-border-left{
    border-left: .2px solid white;
}
@media (max-width:550px) {
    .form{
        margin-top: 0px;
    }
    .res-width{
    max-width: 100%;
    }
    .res-border-left{
        border-left: 0px;
    }
    .row-col-res{
        display: flex;
        flex-direction: column;
    }
    main-page-text{
        /* max-width: 100%; */
    }
    .button-box{
        display: flex;
        width: 100%;
    }
    .button-box button{
        width: max-content;
        height: fit-content;
        border: 0px;
        border: 1px solid gray;
        background-color: rgb(0,0,0,0);
        margin: 5px;
        /* width: 85px; */
        font-size: 08px;
        color: gray;
        padding: 5px;
        margin-bottom: 25px;
        border-radius: 15px;
    }
    .responsive-image{
        width: 100%;
    }
    .hidden-text{
        display: none;
    }
    .hidden-text-visible-stuff{
        width: 100%;
    }
    .responsive-h1{
        font-size: 20px;
    }
    .product-image{
        margin-top: 0px;
    }
    .header h1{
        margin: 0px;
        color: white;
        font-size: 80px;
        font-weight: 1000;
        margin: auto;
        
    }
    .header p{
        color: white;
    }
    .heading-text{
        font-size: 20px;
        margin: auto;
    }
    .header-responsive{
        display: flex;
        flex-direction: column;
    }
    .text-responsive-visibility{
        margin: auto;
        text-align: center;
        display: none;
    }
}