.product-display-area{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    margin: auto;
    justify-content: center;
    max-width: 100%;
    padding: 15px 05px;
    /* max-width: 100%; */
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 100%;
}
.products .left,.products .right{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 100%;
    margin-top: 0px;
} 
.left-left,.right-right{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
}
.product-card{
    width: auto;
    height: auto;    
    border-radius: 20px;
    max-width: 95%;
    margin: auto;
    margin-top: 10px;
    /* background-color: antiquewhite; */
}
.product-card img{
    width:360px;
    height: auto;
    border-radius: 20px;    
    max-width: 100%;
    /* max-height: 200px; */
}
.product-card img:hover{
    /* opacity: 50%; */
    /* background-color: antiquewhite; */
    height: auto;
    border-radius: 20px;    
    max-width: 100%;
    /* max-height: 200px; */
}
.about-page-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 24%;
    height: 350px;
    justify-content: space-between;
}
.about-page-card h3{
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 300;
}
@media (max-width:550px) {
    .product-card img{
        width: 200px;
        height: auto;
        border-radius: 20px;    
        max-width: 100%;
        /* max-height: 200px; */
    }
    .about-page-card {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 49%;
        height: 200px;
        justify-content: space-between;
    }
    .about-page-card h3{
        font-size: 20px;
    }
}
