.blocker-close{
    position: fixed;
    top: 0px;
    transform-origin: top;
    width: 100%;
    height: 0;
    background-color: rgb(199, 103, 103);
    animation-delay: 5s;
    transition: 2s;
    z-index: 50;
}
.blocker-open{
    position: fixed;
    top: 0px;
    transform-origin: top;
    width: 100%;
    height: 100%;
    animation-delay: 5s;
    background-color: rgb(68, 74, 179);
    transition: 2s;
    z-index: 50;
}