.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.transition-container {
  position: relative;
}

.transition-effect {
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  0% {
    top: -100vh;
  }
  50% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@keyframes wipe {
  0%{
    height: 0px;
  }
  50%{
    height: 1000px;
  }
  100%{
    height: 0px;
  }
}
.transition{
  width: 2000px;
  animation-name: wipe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.close{
  height: 0px;
  width: 2000px;
  transition: 1s;
}
.open{
  width: 2000px;
  height: 2000px;
  transition: 1s;
}
